@import url('https://fonts.googleapis.com/css2?family=Oxygen:wght@300&display=swap');

.mention {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 480px;
}

.mention-text {
  font: var(--fontBase);
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 39px;
  max-inline-size: 310px;
}


.mention p.mention-projects {
  font: var(--headline5);
  font-weight: bold;
  font-size: 24px;
}

@media screen and (min-width: 768px) {
  .mention {
    height: 678px;
  }

  .mention-text {
    font-family: Oxygen;
    font-style: normal;
    font-weight: 300;
    max-inline-size: 900px;
    font-size: 34px;
    line-height: 55px;
  }

}

